<form >
<input type="submit" value="Inicio">
<input type="submit" name="nosotros" value="Nosotros">
<input type="submit" value="Productos">
<input type="submit" value="RSE">
<input type="submit" value="Bolsa de trabajo">
<input type="submit" value="Galeria">
<input type="submit" value="Contacto">
<input type="submit" name="buscar">
<input type="submit" value="Buscar">
</form>